* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

body {
    font-family: 'Lato', sans-serif;

}
    
/* COMECO CABECALHO */


.cabecalho {
    background-color: grey;
    height: 500px;
}

.navbar {
    background-color: #F1FAEE;
    height: 80px;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    filter: blur(-2px);
    box-shadow: 0px 1px 10px black;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 1000;
}

.links {
    display: flex;
    gap: 60px;
}

.link-nav{
    height: 40px;
    width: 100px;
    padding-top: 9px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: #F1FAEE;
    background: rgba( 255, 0, 0, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.link-nav:hover {
        transform: scale(1.25,1.25);
        transition: 0.5s;
    }

.link-nav1{
    height: 40px;
    width: 100px;
    padding-top: 9px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: #F1FAEE;
    background: rgba( 255, 0, 0, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.link-nav1:hover {
        transform: scale(1.25,1.25);
        transition: 0.5s;
}       

.logo {
    height: 75px;
    width: 150px;
    background-image: url(../img/188px-Flag_of_Canada_\(Pantone\).svg.png);
    background-size: cover;
    border: solid 1px black;
}

.foto-cidade {
    background-image: url(../img/567417.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

/* FIM CABECALHO */


/* COMECO MEIO PARTE.1 */


.meio {
    background-color: #F1FAEE;
    height: 1000px;
}


.curiosidades-cidade {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px black;
}

.curiosidades h1 {
    padding-bottom: 20px;
    font-size: larger;
    font-family: 'Playfair Display', serif;
}
.caixas {
    display: flex;
    gap: 200px;
}

.caixa1, .caixa2, .caixa3 {
    background-color: #1D3557;
    height: 400px;
    width: 250px;
    border-radius: 10px;
    color: #F1FAEE;
    filter: blur(-2px);
    box-shadow: 0px 2px 15px black;
    
}

.caixa1 {
    padding: 20px;
}

.caixa2 {
    padding: 20px;
}

.caixa3 {
    padding: 20px;
}

 /* FIM MEIO PARTE 1 */



 /* COMECO MEIO PARTE 2 */

.cidade-video {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco-video {
    border: solid 5px black;
    height: 400px;
    width: 700px;
}

.video {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* FIM MEIO PARTE 2 */



/* COMECO RODAPE */

.rodape {
    background-color: #F1FAEE;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px black;
}

.redes-sociais {
    display: flex;
    gap: 220px;
    justify-content: center;
}

.linkedinimg {
    background-image: url(../img/linkedin_black_logo_icon_147114.png);
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

.githubimg {
    background-image: url(../img/Octicons-mark-github.svg);
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

.redes-sociais a {
    text-align: center;
    text-decoration: none;
    color: black;
}

/* FIM RODAPE */



/* COMECO MEDIA QUERY */

@media  (max-width: 425px) {

    body {
        width: 425px;
    }
    .navbar  {
        position: absolute;
        justify-content: flex-start;
        gap: 60px;
        width: 425px;
    }

    .logo {
        margin-right: -40px;
        margin-left: 20px;
        height: 70%;
        width: 25%;
    }
    .links {
        gap: 0
    }

    .link-nav {
        width: 70px;
        padding-left: -70px;
    }

    
    .link-nav1{
        height: 40px;
        width: 100px;
        padding-top: 9px;
        border-radius: 15px;
        text-align: center;
        text-decoration: none;
        color: #F1FAEE;
        background: rgba( 255, 0, 0, 0.75 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
}

    .meio {
        height: 2000px;
        padding-top: 400px;
    }
    
    .curiosidades-cidade {
        margin-bottom: 500px;
        border-bottom: 0px;
        justify-content: flex-start;
        margin-left: 40px;
    }

    .caixas {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .cidade-video {
        display: flex;
        align-content: center;
        justify-content: flex-start;
        margin-left: 40px;
    }

    .bloco-video {
        border: solid 4px black;
        height: 200px;
        width: 350px;
        
    }

    .rodape {
        justify-content: space-between;
        gap: 0px
        
    }

    .redes-sociais {
        margin-left: 40px;
    }

}

@media  (max-width: 1280px) {

    .navbar  {
        position: absolute;
    }

}
